node_modules
dist
dist-demo
.DS_Store

# Svelte output
package
.svelte-kit/
.svelte-kit

# Turbo
.turbo
.turbo/

# TS build info
*.tsbuildinfo

# VitePress output and cache
apps/docs/.vitepress/dist
apps/docs/.vitepress/cache

